In [1]:
!pip3 install beautifulsoup4
!pip install Selenium
!pip install webdriver-manager
!pip install html_table_parser
!pip install chromedriver-autoinstaller
!pip install --upgrade beautifulsoup4
!pip install --upgrade html5lib

Requirement already satisfied: beautifulsoup4 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from beautifulsoup4) (2.2.1)
Requirement already satisfied: Selenium in c:\users\hongr\anaconda3\envs\test\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from Selenium) (1.26.7)
Requirement already satisfied: webdriver-manager in c:\users\hongr\anaconda3\envs\test\lib\site-packages (3.4.2)
Requirement already satisfied: requests in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from webdriver-manager) (2.26.0)
Requirement already satisfied: crayons in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from webdriver-manager) (0.4.0)
Requirement already satisfied: configparser in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from webdriver-manager) (5.0.2)
Requirement already satisfied: colorama in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from crayons->webdriver-manager) (0.4.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from requests->webdriver-manager) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from requests->webdriver-manager) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from requests->webdriver-manager) (2021.5.30)
Requirement already satisfied: html_table_parser in c:\users\hongr\anaconda3\envs\test\lib\site-packages (0.1.0)
Collecting beautifulsoup4==4.4.1
  Using cached beautifulsoup4-4.4.1-py3-none-any.whl (81 kB)
Installing collected packages: beautifulsoup4
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.10.0
    Uninstalling beautifulsoup4-4.10.0:
      Successfully uninstalled beautifulsoup4-4.10.0
Successfully installed beautifulsoup4-4.4.1
Requirement already satisfied: chromedriver-autoinstaller in c:\users\hongr\anaconda3\envs\test\lib\site-packages (0.2.2)
Requirement already satisfied: beautifulsoup4 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (4.4.1)
Collecting beautifulsoup4
  Using cached beautifulsoup4-4.10.0-py3-none-any.whl (97 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from beautifulsoup4) (2.2.1)
Installing collected packages: beautifulsoup4
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.4.1
    Uninstalling beautifulsoup4-4.4.1:
      Successfully uninstalled beautifulsoup4-4.4.1
Successfully installed beautifulsoup4-4.10.0

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
html-table-parser 0.1.0 requires beautifulsoup4==4.4.1, but you have beautifulsoup4 4.10.0 which is incompatible.

Requirement already satisfied: html5lib in c:\users\hongr\anaconda3\envs\test\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from html5lib) (0.5.1)

In [2]:
from selenium import webdriver 
from bs4 import BeautifulSoup as bs
import time
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
import requests
from html_table_parser import parser_functions as parser
from urllib.request import urlopen
from time import sleep


import chromedriver_autoinstaller

## 드라이버 가져오기

In [22]:
driver = webdriver.Chrome(ChromeDriverManager().install())
sleep(5)
url = 'https://bd.kma.go.kr/kma2020/fs/energySelect1.do?pageNum=5&menuCd=F050701000'
driver.get(url)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [C:\Users\hongr\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe] found in cache

## 크롤링 항목

* 오늘(날짜)
* 각 시간에 대한 정보, 누적발전량, 일사량
* 전국에 대한 1차 수집

In [4]:
today = driver.find_element_by_id("thToday").text
print(today)

오늘(10/11)

In [5]:
area_name = driver.find_element_by_id("areaName").text
print(area_name)

전국

In [6]:
element = driver.find_element_by_xpath('//*[@id="toEnergy"]/tr[1]').text.split()
sleep(5)
print("시간당 출력되는 정보:",element)

시간당 출력되는 정보: ['0시', '0.00', '0.00', '0.0', '20.6', '0.8', '0.00', '0.00', '0.0', '15.1', '5.1']

In [7]:
time = []
elect = []
sun = []
for i in range(1,24):
    
    tr = str(i)
    string = driver.find_element_by_xpath(f'//*[@id="toEnergy"]/tr[{i}]').text.split()
    time.append(string[0])
    elect.append(string[2])
    sun.append(string[3])

print('time : ',time)
print('elect : ',elect)
print('sun : ',sun)

time :  ['0시', '1시', '2시', '3시', '4시', '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시']
elect :  ['0.00', '0.00', '0.00', '0.00', '0.00', '0.00', '0.00', '0.05', '103.27', '339.55', '708.36', '1187.45', '1690.82', '2171.05', '2576.30', '2901.44', '3140.22', '3276.79', '3317.47', '3317.47', '3317.47', '3317.47', '3317.47']
sun :  ['0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '1.7', '10.3', '41.9', '51.5', '59.0', '52.3', '62.4', '74.7', '77.3', '83.0', '45.3', '10.7', '0.0', '0.0', '0.0', '0.0']

In [8]:
my_dict = {"누적발전량":elect,"일사량":sun}
my_df = pd.DataFrame(my_dict,index=time).rename_axis(f"전국:{today}")
display(my_df)

                누적발전량   일사량
전국:오늘(10/11)
0시               0.00   0.0
1시               0.00   0.0
2시               0.00   0.0
3시               0.00   0.0
4시               0.00   0.0
5시               0.00   0.0
6시               0.00   0.0
7시               0.05   1.7
8시             103.27  10.3
9시             339.55  41.9
10시            708.36  51.5
11시           1187.45  59.0
12시           1690.82  52.3
13시           2171.05  62.4
14시           2576.30  74.7
15시           2901.44  77.3
16시           3140.22  83.0
17시           3276.79  45.3
18시           3317.47  10.7
19시           3317.47   0.0
20시           3317.47   0.0
21시           3317.47   0.0
22시           3317.47   0.0

## 각 지역별로 시간대별 누적발전량, 일사량 정보를 수집

*  서울특별시
*  경기도
*  인천광역시
*  대전광역시
*  세종특별자치시
*  광주광역시
*  울산광역시
*  부산광역시
*  제주특별자치도
*  강원도
*  충청북도
*  충청남도
*  경상북도
*  경상남도
*  전라북도
*  전라남도

## 각 지역별로 크롤링 전, 리스트에 담고, 반복문을 돌아 크롤링.

### 1. 셀레니움을 이용해 각 지역을 클릭

* 필요한 변수 : 오늘날짜를 담을 변수, 

### 2. 각 지역을 클릭시 생성된 DataFrame을 위에서 구축한 함수로 변수에 저장

 
### 3. 출력

* today = driver.find_element_by_id("thToday").text       == 오늘 정보
* area_name = driver.find_element_by_id("areaName").text  == 지역 이름
* driver.find_element_by_xpath('//*[@id="info_4200000000"]/span').click()    == 지역 클릭

In [23]:
서울특별시     = '//*[@id="info_1100000000"]/span' 
경기도         = '//*[@id="info_4100000000"]/span' 
인천광역시     = '//*[@id="info_2800000000"]/span'
대전광역시     = '//*[@id="info_3000000000"]/span'
세종특별자치시 = '//*[@id="info_3600000000"]/span'  
광주광역시     = '//*[@id="info_2900000000"]/span'
대구광역시     = '//*[@id="info_2700000000"]/span'
울산광역시     = '//*[@id="info_3100000000"]/span'
부산광역시     = '//*[@id="info_2600000000"]/span'
제주특별자치도 = '//*[@id="info_5000000000"]/span'
강원도         = '//*[@id="info_4200000000"]/span' 
충청북도       = '//*[@id="info_4300000000"]/span'
충청남도       = '//*[@id="info_4400000000"]/span'
경상북도       = '//*[@id="info_4700000000"]/span'
경상남도       = '//*[@id="info_4800000000"]/span'
전라북도       = '//*[@id="info_4500000000"]/span'
전라남도       = '//*[@id="info_4600000000"]/span'

In [19]:
place = [서울특별시   
,경기도     
,인천광역시   
,대전광역시   
,세종특별자치시 
,광주광역시
,대구광역시         
,울산광역시   
,부산광역시   
,제주특별자치도 
,강원도     
,충청북도    
,충청남도    
,경상북도    
,경상남도    
,전라북도    
,전라남도    ]

### 방식 변경

*def inforamtion(지역) ; 지역에 대한 dataframe 반환 변수* 에서

* def inforamtion_by_selector(지역) 로 **변경**

In [19]:
# def information(area):
    
#     button = driver.find_element_by_xpath(area)
#     driver.execute_script("arguments[0].click();", button)
    
        
#     time = []
#     elect = []
#     sun = []
#     for i in range(1,24):

#         string = driver.find_element_by_xpath(f'//*[@id="toEnergy"]/tr[{i}]').text.split()
#         time.append(string[0])
#         elect.append(string[2])
#         sun.append(string[3])
    
    
#     today = driver.find_element_by_id("thToday").text       #오늘 정보
#     area_name = driver.find_element_by_id("areaName").text  #지역 이름

#     my_dict = {"누적발전량":elect,"일사량":sun}
#     area_my_df = pd.DataFrame(my_dict,index=time).rename_axis(f"{area_name}:{today}")
    
#     return area_my_df

### 데이터 프레임이 한번에 바뀌지 않는 현상

* xpath -> selector 로 메소드 변경
* dataframe 초기화

다양한 방법을 시도해봤지만, 한 실행라인을 두번반복해야 제대로 출력이 됨.

In [35]:
def information_by_selector(area):
    
    button = driver.find_element_by_xpath(area)
    driver.execute_script("arguments[0].click();", button)
    
    col_names =  ['누적발전량','일사량']
    area_my_df  = pd.DataFrame(columns = col_names)
    area_my_df = area_my_df.drop(columns=['누적발전량','일사량'], axis=1,inplace=True)
    
        
    time = []
    elect = []
    sun = []
    
    for i in range(1,24):

        
        everytime = driver.find_elements_by_css_selector(f'#toEnergy > tr:nth-child({i})')

        one_line = everytime[0].text.split()
        time.append(one_line[0])
        elect.append(one_line[2])
        sun.append(one_line[3])
    
    
    today = driver.find_element_by_id("thToday").text       #오늘 정보
    area_name = driver.find_element_by_id("areaName").text  #지역 이름

    my_dict = {"누적발전량":elect,"일사량":sun}
    area_my_df = pd.DataFrame(my_dict,index=time).rename_axis(f"{area_name}:{today}")
    
    return area_my_df

## 각 지역에 대한 정보를 변수에 저장

In [25]:
# 서울 = information_by_selector(서울특별시)
# 경기 = information_by_selector(경기도)
# 인천 = information_by_selector(인천광역시)
# 대전 = information_by_selector(대전광역시)
# 세종 = information_by_selector(세종특별자치시)
# 광주 = information_by_selector(광주광역시)
# 대구 = information_by_selector(대구광역시)
# 울산 = information_by_selector(울산광역시)
# 부산 = information_by_selector(부산광역시)
# 제주 = information_by_selector(제주특별자치도)
# 강원 = information_by_selector(강원도)
# 충북 = information_by_selector(충청북도)
# 충남 = information_by_selector(충청남도)
# 경북 = information_by_selector(경상북도)
# 경남 = information_by_selector(경상남도)
# 전북 = information_by_selector(전라북도)
# 전남 = information_by_selector(전라남도)

In [27]:
서울 = information_by_selector(서울특별시)
서울

                 누적발전량    일사량
서울특별시:오늘(10/11)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.00    0.8
8시                0.23   14.5
9시                0.76   33.3
10시               2.36   78.2
11시               5.90  247.5
12시              10.54  238.8
13시              17.34  430.5
14시              23.61  434.2
15시              28.42  315.0
16시              33.23  285.0
17시              36.37  190.7
18시              37.25   42.7
19시              37.25    0.0
20시              37.25    0.0
21시              37.25    0.0
22시              37.25    0.0

In [29]:
경기 = information_by_selector(경기도)
경기

                누적발전량    일사량
경기도:오늘(10/11)
0시               0.00    0.0
1시               0.00    0.0
2시               0.00    0.0
3시               0.00    0.0
4시               0.00    0.0
5시               0.00    0.0
6시               0.00    0.0
7시               0.00    0.6
8시               2.21   12.5
9시               8.74   38.0
10시             24.31  123.9
11시             51.63  176.9
12시             85.02  413.7
13시            127.09  561.8
14시            166.13  400.2
15시            199.97  363.8
16시            230.22  352.6
17시            249.86  206.9
18시            255.98   52.7
19시            255.98    0.0
20시            255.98    0.0
21시            255.98    0.0
22시            255.98    0.0

In [36]:
인천 = information_by_selector(인천광역시)
인천

                 누적발전량    일사량
인천광역시:오늘(10/11)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.00    1.0
8시                0.49   21.7
9시                1.80   66.5
10시               5.81  199.9
11시              12.50  445.6
12시              23.43  549.7
13시              36.77  589.2
14시              48.70  543.5
15시              58.88  471.3
16시              68.91  372.0
17시              75.75  251.3
18시              77.96   74.0
19시              77.96    0.0
20시              77.96    0.0
21시              77.96    0.0
22시              77.96    0.0

In [38]:
대전 = information_by_selector(대전광역시)
대전

                누적발전량   일사량
대전광역시:오늘(10/11)
0시               0.00   0.0
1시               0.00   0.0
2시               0.00   0.0
3시               0.00   0.0
4시               0.00   0.0
5시               0.00   0.0
6시               0.00   0.0
7시               0.00   0.7
8시               0.19  12.0
9시               0.78  43.6
10시              1.34  41.3
11시              2.14  59.8
12시              3.20  75.4
13시              4.26  78.0
14시              5.11  62.7
15시              5.90  57.3
16시              6.39  35.4
17시              6.67  19.3
18시              6.75   4.6
19시              6.75   0.0
20시              6.75   0.0
21시              6.75   0.0
22시              6.75   0.0

In [40]:
세종 = information_by_selector(세종특별자치시)
세종

                  누적발전량   일사량
세종특별자치시:오늘(10/11)
0시                 0.00   0.0
1시                 0.00   0.0
2시                 0.00   0.0
3시                 0.00   0.0
4시                 0.00   0.0
5시                 0.00   0.0
6시                 0.00   0.0
7시                 0.00   0.5
8시                 0.15  10.5
9시                 0.58  28.9
10시                1.23  42.2
11시                2.37  73.3
12시                3.71  95.6
13시                5.17  83.0
14시                6.39  77.6
15시                7.31  63.7
16시                7.92  38.9
17시                8.22  20.3
18시                8.30   4.9
19시                8.30   0.0
20시                8.30   0.0
21시                8.30   0.0
22시                8.30   0.0

In [32]:
광주 = information_by_selector(광주광역시)
display(광주)

                  누적발전량    일사량
광주광역시:오늘(10/10)
0시                 0.00    0.0
1시                 0.00    0.0
2시                 0.00    0.0
3시                 0.00    0.0
4시                 0.00    0.0
5시                 0.00    0.0
6시                 0.00    0.0
7시                 0.00    6.5
8시                 5.77  129.8
9시                18.98  322.5
10시               38.68  500.3
11시               62.41  621.5
12시               85.82  629.5
13시              110.10  606.0
14시              127.01  417.6
15시              136.60  183.9
16시              140.51  111.6
17시              142.79   53.5
18시              143.88   19.0
19시              143.88    0.0
20시              143.88    0.0
21시              143.88    0.0
22시              143.88    0.0

In [30]:
대구 = information_by_selector(대구광역시)
대구

                  누적발전량    일사량
대구광역시:오늘(10/10)
0시                 0.00    0.0
1시                 0.00    0.0
2시                 0.00    0.0
3시                 0.00    0.0
4시                 0.00    0.0
5시                 0.00    0.0
6시                 0.00    0.0
7시                 0.00   12.7
8시                 3.83  124.4
9시                12.12  252.4
10시               25.12  476.4
11시               42.43  640.4
12시               62.06  718.6
13시               81.97  731.0
14시              100.35  671.7
15시              115.67  548.0
16시              126.90  390.2
17시              132.96  199.8
18시              134.20   35.6
19시              134.20    0.0
20시              134.20    0.0
21시              134.20    0.0
22시              134.20    0.0

In [34]:
울산 = information_by_selector(울산광역시)
울산

                 누적발전량    일사량
울산광역시:오늘(10/10)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.48   24.2
8시                3.48  180.1
9시                9.11  375.6
10시              16.79  542.8
11시              25.85  665.2
12시              35.60  717.0
13시              45.30  718.3
14시              54.10  655.1
15시              61.40  536.4
16시              66.55  371.2
17시              69.17  182.0
18시              69.63   27.0
19시              69.63    0.0
20시              69.63    0.0
21시              69.63    0.0
22시              69.63    0.0

In [36]:
부산 = information_by_selector(부산광역시)
부산

                  누적발전량    일사량
부산광역시:오늘(10/10)
0시                 0.00    0.0
1시                 0.00    0.0
2시                 0.00    0.0
3시                 0.00    0.0
4시                 0.00    0.0
5시                 0.00    0.0
6시                 0.00    0.0
7시                 0.46   17.3
8시                10.59  134.0
9시                31.07  315.3
10시               59.91  542.7
11시               94.98  679.5
12시              132.89  745.7
13시              170.84  734.1
14시              205.05  674.0
15시              233.97  555.6
16시              253.99  382.8
17시              263.92  168.7
18시              266.01   30.5
19시              266.01    0.0
20시              266.01    0.0
21시              266.01    0.0
22시              266.01    0.0

In [39]:
제주 = information_by_selector(제주특별자치도)
제주

                    누적발전량    일사량
제주특별자치도:오늘(10/10)
0시                   0.00    0.0
1시                   0.00    0.0
2시                   0.00    0.0
3시                   0.00    0.0
4시                   0.00    0.0
5시                   0.00    0.0
6시                   0.00    0.0
7시                   0.00    2.7
8시                  10.37   57.6
9시                  30.33  108.9
10시                 65.58  295.8
11시                114.32  452.3
12시                169.95  377.4
13시                219.93  305.0
14시                271.77  251.0
15시                312.37  140.7
16시                340.24  132.7
17시                355.46   98.9
18시                361.42   32.6
19시                361.42    0.0
20시                361.42    0.0
21시                361.42    0.0
22시                361.42    0.0

In [41]:
강원 = information_by_selector(강원도)
강원

                누적발전량    일사량
강원도:오늘(10/10)
0시               0.00    0.0
1시               0.00    0.0
2시               0.00    0.0
3시               0.00    0.0
4시               0.00    0.0
5시               0.00    0.0
6시               0.00    0.0
7시               0.00   18.9
8시              20.33  152.9
9시              62.90  330.8
10시            126.39  496.8
11시            212.38  555.2
12시            303.34  558.6
13시            379.23  529.7
14시            436.16  326.4
15시            481.34  412.6
16시            521.71  308.1
17시            545.64  140.7
18시            550.12   19.7
19시            550.12    0.0
20시            550.12    0.0
21시            550.12    0.0
22시            550.12    0.0

In [25]:
충북 = information_by_selector(충청북도)
충북

                 누적발전량    일사량
충청북도:오늘(10/09)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.00    5.0
8시                8.96   81.2
9시               21.57   61.7
10시              37.93  122.4
11시              60.96  199.1
12시              85.10  265.9
13시             118.81  275.1
14시             159.15  291.7
15시             207.19  230.3
16시             245.63  318.2
17시             272.29  196.1
18시             282.92   80.4
19시             282.92    0.3
20시             282.92    0.0
21시             282.92    0.0
22시             282.92    0.0

In [43]:
충남 = information_by_selector(충청남도)
충남

                  누적발전량    일사량
충청남도:오늘(10/10)
0시                 0.00    0.0
1시                 0.00    0.0
2시                 0.00    0.0
3시                 0.00    0.0
4시                 0.00    0.0
5시                 0.00    0.0
6시                 0.00    0.0
7시                 0.00    7.0
8시                50.83  123.4
9시               162.63  308.1
10시              329.81  467.2
11시              522.81  569.8
12시              714.13  599.3
13시              886.25  516.5
14시             1043.39  553.2
15시             1209.25  485.3
16시             1328.96  360.4
17시             1374.38  141.5
18시             1384.57   26.0
19시             1384.57    0.0
20시             1384.57    0.0
21시             1384.57    0.0
22시             1384.57    0.0

In [45]:
경북 = information_by_selector(경상북도)
경북

                  누적발전량    일사량
경상북도:오늘(10/10)
0시                 0.00    0.0
1시                 0.00    0.0
2시                 0.00    0.0
3시                 0.00    0.0
4시                 0.00    0.0
5시                 0.00    0.0
6시                 0.00    0.0
7시                 0.76   11.2
8시                43.34  135.6
9시               132.71  268.7
10시              268.50  390.8
11시              443.30  605.0
12시              637.50  720.5
13시              833.60  721.8
14시             1011.34  669.6
15시             1159.02  553.8
16시             1262.33  390.7
17시             1316.98  202.4
18시             1328.69   36.0
19시             1328.69    0.0
20시             1328.69    0.0
21시             1328.69    0.0
22시             1328.69    0.0

In [47]:
경남 = information_by_selector(경상남도)
경남

                 누적발전량    일사량
경상남도:오늘(10/10)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.03   13.6
8시               27.64  165.2
9시               86.23  293.8
10시             177.54  407.1
11시             293.31  646.6
12시             421.57  745.9
13시             550.85  748.5
14시             665.37  663.3
15시             763.60  564.9
16시             827.91  353.2
17시             860.92  130.6
18시             868.20    4.0
19시             868.20    0.0
20시             868.20    0.0
21시             868.20    0.0
22시             868.20    0.0

In [29]:
전북 = information_by_selector(전라북도)
전북

                 누적발전량    일사량
전라북도:오늘(10/09)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.15    5.1
8시               13.43   85.0
9시               49.64  222.8
10시             106.34  217.0
11시             165.37  240.7
12시             216.22  194.5
13시             268.72  342.1
14시             324.87  427.2
15시             382.78  446.1
16시             431.22  266.7
17시             459.66  100.3
18시             467.22   20.2
19시             467.22    0.0
20시             467.22    0.0
21시             467.22    0.0
22시             467.22    0.0

In [23]:
전남 = information_by_selector(전라남도)
전남

                 누적발전량    일사량
전라남도:오늘(10/10)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.00    5.6
8시               22.58  122.0
9시               74.41  313.1
10시             151.14  484.9
11시             245.86  610.6
12시             346.31  623.3
13시             443.25  642.2
14시             527.05  382.9
15시             592.36  253.1
16시             627.15  174.9
17시             643.71   77.5
18시             648.66   22.1
19시             648.66    0.0
20시             648.66    0.0
21시             648.66    0.0
22시             648.66    0.0