In [2]:
!pip3 install beautifulsoup4
!pip install Selenium
!pip install webdriver-manager
!pip install html_table_parser
!pip install chromedriver-autoinstaller
!pip install --upgrade beautifulsoup4
!pip install --upgrade html5lib

Requirement already satisfied: beautifulsoup4 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from beautifulsoup4) (2.2.1)
Requirement already satisfied: Selenium in c:\users\hongr\anaconda3\envs\test\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from Selenium) (1.26.7)
Requirement already satisfied: webdriver-manager in c:\users\hongr\anaconda3\envs\test\lib\site-packages (3.4.2)
Requirement already satisfied: requests in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from webdriver-manager) (2.26.0)
Requirement already satisfied: configparser in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from webdriver-manager) (5.0.2)
Requirement already satisfied: crayons in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from webdriver-manager) (0.4.0)
Requirement already satisfied: colorama in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from crayons->webdriver-manager) (0.4.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from requests->webdriver-manager) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from requests->webdriver-manager) (2021.5.30)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from requests->webdriver-manager) (3.2)
Requirement already satisfied: html_table_parser in c:\users\hongr\anaconda3\envs\test\lib\site-packages (0.1.0)
Collecting beautifulsoup4==4.4.1
  Using cached beautifulsoup4-4.4.1-py3-none-any.whl (81 kB)
Installing collected packages: beautifulsoup4
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.10.0
    Uninstalling beautifulsoup4-4.10.0:
      Successfully uninstalled beautifulsoup4-4.10.0
Successfully installed beautifulsoup4-4.4.1
Requirement already satisfied: chromedriver-autoinstaller in c:\users\hongr\anaconda3\envs\test\lib\site-packages (0.2.2)
Requirement already satisfied: beautifulsoup4 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (4.4.1)
Collecting beautifulsoup4
  Using cached beautifulsoup4-4.10.0-py3-none-any.whl (97 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from beautifulsoup4) (2.2.1)
Installing collected packages: beautifulsoup4
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.4.1
    Uninstalling beautifulsoup4-4.4.1:
      Successfully uninstalled beautifulsoup4-4.4.1
Successfully installed beautifulsoup4-4.10.0

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
html-table-parser 0.1.0 requires beautifulsoup4==4.4.1, but you have beautifulsoup4 4.10.0 which is incompatible.

Requirement already satisfied: html5lib in c:\users\hongr\anaconda3\envs\test\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from html5lib) (0.5.1)

In [15]:
from selenium import webdriver 
from bs4 import BeautifulSoup as bs
import time
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
import requests
from html_table_parser import parser_functions as parser
from urllib.request import urlopen
from time import *


import chromedriver_autoinstaller

## 드라이버 가져오기

In [4]:
driver = webdriver.Chrome(ChromeDriverManager().install())
sleep(5)
url = 'https://bd.kma.go.kr/kma2020/fs/energySelect1.do?pageNum=5&menuCd=F050701000'
driver.get(url)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [C:\Users\hongr\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe] found in cache

## 크롤링 항목

* 오늘(날짜)
* 각 시간에 대한 정보, 누적발전량, 일사량
* 전국에 대한 1차 수집

In [5]:
today = driver.find_element_by_id("thToday").text
print(today)

오늘(10/11)

In [6]:
area_name = driver.find_element_by_id("areaName").text
print(area_name)

전국

In [7]:
element = driver.find_element_by_xpath('//*[@id="toEnergy"]/tr[1]').text.split()
sleep(5)
print("시간당 출력되는 정보:",element)

시간당 출력되는 정보: ['0시', '0.00', '0.00', '0.0', '20.3', '1.0', '0.00', '0.00', '0.0', '14.1', '2.7']

In [8]:
time = []
elect = []
sun = []
for i in range(1,24):
    
    tr = str(i)
    string = driver.find_element_by_xpath(f'//*[@id="toEnergy"]/tr[{i}]').text.split()
    time.append(string[0])
    elect.append(string[2])
    sun.append(string[3])

print('time : ',time)
print('elect : ',elect)
print('sun : ',sun)

time :  ['0시', '1시', '2시', '3시', '4시', '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시']
elect :  ['0.00', '0.00', '0.00', '0.00', '0.00', '0.00', '0.00', '0.13', '91.21', '312.58', '656.47', '1094.93', '1579.11', '2066.57', '2490.40', '2840.11', '3087.83', '3229.73', '3273.44', '3273.44', '3273.44', '3273.44', '3273.44']
sun :  ['0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '1.2', '9.3', '21.1', '35.6', '40.0', '48.9', '96.4', '103.6', '176.0', '28.5', '10.4', '1.6', '0.0', '0.0', '0.0', '0.0']

In [9]:
my_dict = {"누적발전량":elect,"일사량":sun}
my_df = pd.DataFrame(my_dict,index=time).rename_axis(f"전국:{today}")
display(my_df)

                누적발전량    일사량
전국:오늘(10/11)
0시               0.00    0.0
1시               0.00    0.0
2시               0.00    0.0
3시               0.00    0.0
4시               0.00    0.0
5시               0.00    0.0
6시               0.00    0.0
7시               0.13    1.2
8시              91.21    9.3
9시             312.58   21.1
10시            656.47   35.6
11시           1094.93   40.0
12시           1579.11   48.9
13시           2066.57   96.4
14시           2490.40  103.6
15시           2840.11  176.0
16시           3087.83   28.5
17시           3229.73   10.4
18시           3273.44    1.6
19시           3273.44    0.0
20시           3273.44    0.0
21시           3273.44    0.0
22시           3273.44    0.0

## 각 지역별로 시간대별 누적발전량, 일사량 정보를 수집

*  서울특별시
*  경기도
*  인천광역시
*  대전광역시
*  세종특별자치시
*  광주광역시
*  울산광역시
*  부산광역시
*  제주특별자치도
*  강원도
*  충청북도
*  충청남도
*  경상북도
*  경상남도
*  전라북도
*  전라남도

## 각 지역별로 크롤링 전, 리스트에 담고, 반복문을 돌아 크롤링.

### 1. 셀레니움을 이용해 각 지역을 클릭

* 필요한 변수 : 오늘날짜를 담을 변수, 

### 2. 각 지역을 클릭시 생성된 DataFrame을 위에서 구축한 함수로 변수에 저장

 
### 3. 출력

* today = driver.find_element_by_id("thToday").text       == 오늘 정보
* area_name = driver.find_element_by_id("areaName").text  == 지역 이름
* driver.find_element_by_xpath('//*[@id="info_4200000000"]/span').click()    == 지역 클릭

In [10]:
서울특별시     = '//*[@id="info_1100000000"]/span' 
경기도         = '//*[@id="info_4100000000"]/span' 
인천광역시     = '//*[@id="info_2800000000"]/span'
대전광역시     = '//*[@id="info_3000000000"]/span'
세종특별자치시 = '//*[@id="info_3600000000"]/span'  
광주광역시     = '//*[@id="info_2900000000"]/span'
대구광역시     = '//*[@id="info_2700000000"]/span'
울산광역시     = '//*[@id="info_3100000000"]/span'
부산광역시     = '//*[@id="info_2600000000"]/span'
제주특별자치도 = '//*[@id="info_5000000000"]/span'
강원도         = '//*[@id="info_4200000000"]/span' 
충청북도       = '//*[@id="info_4300000000"]/span'
충청남도       = '//*[@id="info_4400000000"]/span'
경상북도       = '//*[@id="info_4700000000"]/span'
경상남도       = '//*[@id="info_4800000000"]/span'
전라북도       = '//*[@id="info_4500000000"]/span'
전라남도       = '//*[@id="info_4600000000"]/span'

In [11]:
place = [서울특별시   
,경기도     
,인천광역시   
,대전광역시   
,세종특별자치시 
,광주광역시
,대구광역시         
,울산광역시   
,부산광역시   
,제주특별자치도 
,강원도     
,충청북도    
,충청남도    
,경상북도    
,경상남도    
,전라북도    
,전라남도    ]

### 방식 변경

*def inforamtion(지역) ; 지역에 대한 dataframe 반환 변수* 에서

* def inforamtion_by_selector(지역) 로 **변경**

In [12]:
# def information(area):
    
#     button = driver.find_element_by_xpath(area)
#     driver.execute_script("arguments[0].click();", button)
    
        
#     time = []
#     elect = []
#     sun = []
#     for i in range(1,24):

#         string = driver.find_element_by_xpath(f'//*[@id="toEnergy"]/tr[{i}]').text.split()
#         time.append(string[0])
#         elect.append(string[2])
#         sun.append(string[3])
    
    
#     today = driver.find_element_by_id("thToday").text       #오늘 정보
#     area_name = driver.find_element_by_id("areaName").text  #지역 이름

#     my_dict = {"누적발전량":elect,"일사량":sun}
#     area_my_df = pd.DataFrame(my_dict,index=time).rename_axis(f"{area_name}:{today}")
    
#     return area_my_df

### 데이터 프레임이 한번에 바뀌지 않는 현상

* xpath -> selector 로 메소드 변경
* dataframe 초기화

~~다양한 방법을 시도해봤지만, 한 실행라인을 두번반복해야 제대로 출력이 됨.~~
* 아래로 스크롤 되는 시간이 필요함 -> **sleep() 메소드를 사용 해서 해결**

In [23]:
def information_by_selector(area):
    
#     button = driver.find_element_by_xpath(area)
#     driver.execute_script("arguments[0].click();", button)
    
    reset = driver.find_element_by_xpath('//*[@id="map"]/div[1]')
    driver.execute_script("arguments[0].click();", reset)
    button = driver.find_element_by_xpath(area)
    driver.execute_script("arguments[0].click();", button)
    sleep(0.8)
    
        
    time = []
    elect = []
    sun = []
    
    for i in range(1,24):

        
        everytime = driver.find_elements_by_css_selector(f'#toEnergy > tr:nth-child({i})')

        one_line = everytime[0].text.split()
        time.append(one_line[0])
        elect.append(one_line[2])
        sun.append(one_line[3])
    
    
    today = driver.find_element_by_id("thToday").text       #오늘 정보
    area_name = driver.find_element_by_id("areaName").text  #지역 이름

    my_dict = {"누적발전량":elect,"일사량":sun}
    area_my_df = pd.DataFrame(my_dict,index=time).rename_axis(f"{area_name}:{today}")
    
    return area_my_df

## 각 지역에 대한 정보를 변수에 저장

In [24]:
# 서울 = information_by_selector(서울특별시)
# 경기 = information_by_selector(경기도)
# 인천 = information_by_selector(인천광역시)
# 대전 = information_by_selector(대전광역시)
# 세종 = information_by_selector(세종특별자치시)
# 광주 = information_by_selector(광주광역시)
# 대구 = information_by_selector(대구광역시)
# 울산 = information_by_selector(울산광역시)
# 부산 = information_by_selector(부산광역시)
# 제주 = information_by_selector(제주특별자치도)
# 강원 = information_by_selector(강원도)
# 충북 = information_by_selector(충청북도)
# 충남 = information_by_selector(충청남도)
# 경북 = information_by_selector(경상북도)
# 경남 = information_by_selector(경상남도)
# 전북 = information_by_selector(전라북도)
# 전남 = information_by_selector(전라남도)

In [26]:
서울 = information_by_selector(서울특별시)
서울

                 누적발전량    일사량
서울특별시:오늘(10/11)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.00    1.0
8시                0.30   15.7
9시                1.29   44.1
10시               4.89  169.9
11시              12.01  440.3
12시              20.17  559.4
13시              26.67  412.4
14시              32.19  347.6
15시              38.18  355.6
16시              43.77  365.9
17시              47.03  202.4
18시              47.95   45.9
19시              47.95    0.0
20시              47.95    0.0
21시              47.95    0.0
22시              47.95    0.0

In [27]:
경기 = information_by_selector(경기도)
경기

                누적발전량    일사량
경기도:오늘(10/11)
0시               0.00    0.0
1시               0.00    0.0
2시               0.00    0.0
3시               0.00    0.0
4시               0.00    0.0
5시               0.00    0.0
6시               0.00    0.0
7시               0.00    1.0
8시               3.99   20.3
9시              17.22   79.6
10시             42.69  366.7
11시             84.32  534.9
12시            132.16  595.2
13시            173.29  493.3
14시            214.63  459.3
15시            252.74  488.6
16시            288.31  399.9
17시            309.98  213.3
18시            316.01   54.5
19시            316.01    0.0
20시            316.01    0.0
21시            316.01    0.0
22시            316.01    0.0

In [28]:
인천 = information_by_selector(인천광역시)
인천

                 누적발전량    일사량
인천광역시:오늘(10/11)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.00    0.5
8시                0.71   43.2
9시                3.68  260.4
10시              11.04  445.9
11시              25.06  554.1
12시              41.18  612.2
13시              54.56  580.2
14시              65.74  568.3
15시              77.90  496.4
16시              89.49  432.4
17시              96.78  265.8
18시              98.99   73.5
19시              98.99    0.0
20시              98.99    0.0
21시              98.99    0.0
22시              98.99    0.0

In [29]:
대전 = information_by_selector(대전광역시)
대전

                 누적발전량    일사량
대전광역시:오늘(10/11)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.00    0.6
8시                0.12    7.9
9시                0.62   34.8
10시               1.32   48.4
11시               2.51   92.1
12시               3.89  107.3
13시               5.07   86.9
14시               6.62  120.6
15시               8.81  193.0
16시               9.77   64.5
17시              10.29   33.3
18시              10.41    6.4
19시              10.41    0.0
20시              10.41    0.0
21시              10.41    0.0
22시              10.41    0.0

In [30]:
세종 = information_by_selector(세종특별자치시)
세종

                   누적발전량    일사량
세종특별자치시:오늘(10/11)
0시                  0.00    0.0
1시                  0.00    0.0
2시                  0.00    0.0
3시                  0.00    0.0
4시                  0.00    0.0
5시                  0.00    0.0
6시                  0.00    0.0
7시                  0.00    0.6
8시                  0.16    7.7
9시                  0.66   34.6
10시                 1.62   56.8
11시                 3.26   92.4
12시                 5.63  139.1
13시                 7.33  106.7
14시                 9.90  186.9
15시                12.39  183.3
16시                13.74   93.3
17시                14.39   46.4
18시                14.56   10.0
19시                14.56    0.0
20시                14.56    0.0
21시                14.56    0.0
22시                14.56    0.0

In [31]:
광주 = information_by_selector(광주광역시)
display(광주)

                 누적발전량    일사량
광주광역시:오늘(10/11)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.00    1.5
8시                2.59   62.6
9시               11.04  204.1
10시              24.05  326.6
11시              32.52  274.3
12시              36.70   51.8
13시              40.34   79.6
14시              43.59   75.9
15시              46.27   66.3
16시              48.18   44.0
17시              49.19   23.4
18시              49.45    4.1
19시              49.45    0.0
20시              49.45    0.0
21시              49.45    0.0
22시              49.45    0.0

In [32]:
대구 = information_by_selector(대구광역시)
대구

                 누적발전량    일사량
대구광역시:오늘(10/11)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.00    2.0
8시                0.40   14.3
9시                1.34   35.9
10시               2.67   41.6
11시               3.78   33.7
12시               4.97   40.0
13시              12.24  250.8
14시              16.21  129.5
15시              17.68   44.2
16시              18.36   18.5
17시              18.78   10.8
18시              18.89    3.1
19시              18.89    0.0
20시              18.89    0.0
21시              18.89    0.0
22시              18.89    0.0

In [33]:
울산 = information_by_selector(울산광역시)
울산

                누적발전량    일사량
울산광역시:오늘(10/11)
0시               0.00    0.0
1시               0.00    0.0
2시               0.00    0.0
3시               0.00    0.0
4시               0.00    0.0
5시               0.00    0.0
6시               0.00    0.0
7시               0.10    9.1
8시               0.60   29.2
9시               1.74  102.0
10시              2.41   76.7
11시              3.21   69.6
12시              4.07   53.7
13시              5.01   50.9
14시              5.70   34.1
15시              6.28   34.2
16시              6.98   76.9
17시              7.42   30.8
18시              7.48    3.9
19시              7.48    0.0
20시              7.48    0.0
21시              7.48    0.0
22시              7.48    0.0

In [34]:
부산 = information_by_selector(부산광역시)
부산

                 누적발전량    일사량
부산광역시:오늘(10/11)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.03    7.4
8시                4.00   34.8
9시                8.51   51.7
10시              11.56   51.7
11시              18.78   91.3
12시              30.79  220.1
13시              37.87   54.0
14시              44.50   56.3
15시              51.76  100.6
16시              56.92  107.7
17시              59.12   34.7
18시              59.67    6.9
19시              59.67    0.0
20시              59.67    0.0
21시              59.67    0.0
22시              59.67    0.0

In [35]:
제주 = information_by_selector(제주특별자치도)
제주

                    누적발전량    일사량
제주특별자치도:오늘(10/11)
0시                   0.00    0.0
1시                   0.00    0.0
2시                   0.00    0.0
3시                   0.00    0.0
4시                   0.00    0.0
5시                   0.00    0.0
6시                   0.00    0.0
7시                   0.00    2.2
8시                  10.07   70.0
9시                  30.30  176.8
10시                 58.55  179.5
11시                101.81  279.2
12시                162.22  298.1
13시                240.82  670.5
14시                318.22  658.9
15시                380.10  485.9
16시                412.61  323.1
17시                433.36  143.5
18시                440.85   58.8
19시                440.85    0.2
20시                440.85    0.0
21시                440.85    0.0
22시                440.85    0.0

In [40]:
강원 = information_by_selector(강원도)
강원

                누적발전량    일사량
강원도:오늘(10/11)
0시               0.00    0.0
1시               0.00    0.0
2시               0.00    0.0
3시               0.00    0.0
4시               0.00    0.0
5시               0.00    0.0
6시               0.00    0.0
7시               0.00    1.2
8시               3.68    9.3
9시              15.44   21.1
10시             40.72   35.6
11시             78.80   40.0
12시            121.61   48.9
13시            163.38   96.4
14시            202.28  103.6
15시            236.96  176.0
16시            262.19   28.5
17시            275.73   10.4
18시            278.84    1.6
19시            278.84    0.0
20시            278.84    0.0
21시            278.84    0.0
22시            278.84    0.0

In [41]:
충북 = information_by_selector(충청북도)
충북

               누적발전량 일사량
충청북도:오늘(10/11)
0시                 -   -
1시                 -   -
2시                 -   -
3시                 -   -
4시                 -   -
5시                 -   -
6시                 -   -
7시                 -   -
8시                 -   -
9시                 -   -
10시                -   -
11시                -   -
12시                -   -
13시                -   -
14시                -   -
15시                -   -
16시                -   -
17시                -   -
18시                -   -
19시                -   -
20시                -   -
21시                -   -
22시                -   -

In [42]:
충남 = information_by_selector(충청남도)
충남

                 누적발전량    일사량
충청남도:오늘(10/11)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.00    0.7
8시                9.78    9.8
9시               37.66   28.2
10시              99.79   61.2
11시             190.72   91.8
12시             283.04  137.3
13시             364.95  131.5
14시             444.90  237.6
15시             501.99  189.3
16시             559.22  120.5
17시             595.03   56.5
18시             608.20   12.0
19시             608.20    0.0
20시             608.20    0.0
21시             608.20    0.0
22시             608.20    0.0

In [43]:
경북 = information_by_selector(경상북도)
경북

                 누적발전량    일사량
경상북도:오늘(10/11)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.01    2.1
8시                4.80   16.0
9시               13.25   27.3
10시              26.02   47.7
11시              44.59   44.7
12시              65.92   45.7
13시             101.39  232.8
14시             125.42  118.9
15시             141.27   55.6
16시             151.14   29.6
17시             155.87   16.3
18시             156.82    3.1
19시             156.82    0.0
20시             156.82    0.0
21시             156.82    0.0
22시             156.82    0.0

In [47]:
경남 = information_by_selector(경상남도)
경남

                 누적발전량    일사량
경상남도:오늘(10/10)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.03   13.6
8시               27.64  165.2
9시               86.23  293.8
10시             177.54  407.1
11시             293.31  646.6
12시             421.57  745.9
13시             550.85  748.5
14시             665.37  663.3
15시             763.60  564.9
16시             827.91  353.2
17시             860.92  130.6
18시             868.20    4.0
19시             868.20    0.0
20시             868.20    0.0
21시             868.20    0.0
22시             868.20    0.0

In [29]:
전북 = information_by_selector(전라북도)
전북

                 누적발전량    일사량
전라북도:오늘(10/09)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.15    5.1
8시               13.43   85.0
9시               49.64  222.8
10시             106.34  217.0
11시             165.37  240.7
12시             216.22  194.5
13시             268.72  342.1
14시             324.87  427.2
15시             382.78  446.1
16시             431.22  266.7
17시             459.66  100.3
18시             467.22   20.2
19시             467.22    0.0
20시             467.22    0.0
21시             467.22    0.0
22시             467.22    0.0

In [23]:
전남 = information_by_selector(전라남도)
전남

                 누적발전량    일사량
전라남도:오늘(10/10)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.00    5.6
8시               22.58  122.0
9시               74.41  313.1
10시             151.14  484.9
11시             245.86  610.6
12시             346.31  623.3
13시             443.25  642.2
14시             527.05  382.9
15시             592.36  253.1
16시             627.15  174.9
17시             643.71   77.5
18시             648.66   22.1
19시             648.66    0.0
20시             648.66    0.0
21시             648.66    0.0
22시             648.66    0.0