In [1]:
!pip3 install beautifulsoup4
!pip install Selenium
!pip install webdriver-manager
!pip install html_table_parser
!pip install chromedriver-autoinstaller
!pip install --upgrade beautifulsoup4
!pip install --upgrade html5lib

Requirement already satisfied: beautifulsoup4 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from beautifulsoup4) (2.2.1)
Requirement already satisfied: Selenium in c:\users\hongr\anaconda3\envs\test\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from Selenium) (1.26.7)
Requirement already satisfied: webdriver-manager in c:\users\hongr\anaconda3\envs\test\lib\site-packages (3.4.2)
Requirement already satisfied: configparser in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from webdriver-manager) (5.0.2)
Requirement already satisfied: requests in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from webdriver-manager) (2.26.0)
Requirement already satisfied: crayons in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from webdriver-manager) (0.4.0)
Requirement already satisfied: colorama in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from crayons->webdriver-manager) (0.4.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from requests->webdriver-manager) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from requests->webdriver-manager) (2021.5.30)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from requests->webdriver-manager) (3.2)
Requirement already satisfied: html_table_parser in c:\users\hongr\anaconda3\envs\test\lib\site-packages (0.1.0)
Collecting beautifulsoup4==4.4.1
  Using cached beautifulsoup4-4.4.1-py3-none-any.whl (81 kB)
Installing collected packages: beautifulsoup4
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.10.0
    Uninstalling beautifulsoup4-4.10.0:
      Successfully uninstalled beautifulsoup4-4.10.0
Successfully installed beautifulsoup4-4.4.1
Requirement already satisfied: chromedriver-autoinstaller in c:\users\hongr\anaconda3\envs\test\lib\site-packages (0.2.2)
Requirement already satisfied: beautifulsoup4 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (4.4.1)
Collecting beautifulsoup4
  Using cached beautifulsoup4-4.10.0-py3-none-any.whl (97 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from beautifulsoup4) (2.2.1)
Installing collected packages: beautifulsoup4
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.4.1
    Uninstalling beautifulsoup4-4.4.1:
      Successfully uninstalled beautifulsoup4-4.4.1
Successfully installed beautifulsoup4-4.10.0

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
html-table-parser 0.1.0 requires beautifulsoup4==4.4.1, but you have beautifulsoup4 4.10.0 which is incompatible.

Requirement already satisfied: html5lib in c:\users\hongr\anaconda3\envs\test\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\hongr\anaconda3\envs\test\lib\site-packages (from html5lib) (0.5.1)

In [2]:
from selenium import webdriver 
from bs4 import BeautifulSoup as bs
import time
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
import requests
from html_table_parser import parser_functions as parser
from urllib.request import urlopen
from time import sleep


import chromedriver_autoinstaller

* 드라이버 가져오기

In [3]:
driver = webdriver.Chrome(ChromeDriverManager().install())
sleep(5)
url = 'https://bd.kma.go.kr/kma2020/fs/energySelect1.do?pageNum=5&menuCd=F050701000'
driver.get(url)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [C:\Users\hongr\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe] found in cache

## 크롤링 항목

* 오늘(날짜)
* 각 시간에 대한 정보, 누적발전량, 일사량
* 전국에 대한 1차 수집

In [4]:
today = driver.find_element_by_id("thToday").text
print(today)

오늘(10/09)

In [5]:
area_name = driver.find_element_by_id("areaName").text
print(area_name)

전국

In [6]:
element = driver.find_element_by_xpath('//*[@id="toEnergy"]/tr[1]').text.split()
sleep(5)
print("시간당 출력되는 정보:",element)

시간당 출력되는 정보: ['0시', '0.00', '0.00', '0.0', '18.5', '3.6', '0.00', '0.00', '0.0', '19.2', '3.3']

In [7]:
time = []
elect = []
sun = []
for i in range(1,24):
    
    tr = str(i)
    string = driver.find_element_by_xpath(f'//*[@id="toEnergy"]/tr[{i}]').text.split()
    time.append(string[0])
    elect.append(string[2])
    sun.append(string[3])

print('time : ',time)
print('elect : ',elect)
print('sun : ',sun)

time :  ['0시', '1시', '2시', '3시', '4시', '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시']
elect :  ['0.00', '0.00', '0.00', '0.00', '0.00', '0.00', '0.00', '2.33', '205.01', '661.18', '1403.53', '2348.45', '3408.81', '4543.35', '5645.77', '6616.11', '7348.42', '7793.19', '7932.51', '7932.51', '7932.51', '7932.51', '7932.51']
sun :  ['0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '1.4', '6.3', '23.9', '83.5', '124.9', '142.2', '87.3', '48.8', '39.7', '70.6', '12.5', '2.2', '0.0', '0.0', '0.0', '0.0']

In [8]:
my_dict = {"누적발전량":elect,"일사량":sun}
my_df = pd.DataFrame(my_dict,index=time).rename_axis(f"전국:{today}")
display(my_df)

                누적발전량    일사량
전국:오늘(10/09)
0시               0.00    0.0
1시               0.00    0.0
2시               0.00    0.0
3시               0.00    0.0
4시               0.00    0.0
5시               0.00    0.0
6시               0.00    0.0
7시               2.33    1.4
8시             205.01    6.3
9시             661.18   23.9
10시           1403.53   83.5
11시           2348.45  124.9
12시           3408.81  142.2
13시           4543.35   87.3
14시           5645.77   48.8
15시           6616.11   39.7
16시           7348.42   70.6
17시           7793.19   12.5
18시           7932.51    2.2
19시           7932.51    0.0
20시           7932.51    0.0
21시           7932.51    0.0
22시           7932.51    0.0

## 각 지역별로 시간대별 누적발전량, 일사량 정보를 수집

*  서울특별시
*  경기도
*  인천광역시
*  대전광역시
*  세종특별자치시
*  광주광역시
*  울산광역시
*  부산광역시
*  제주특별자치도
*  강원도
*  충청북도
*  충청남도
*  경상북도
*  경상남도
*  전라북도
*  전라남도

## 각 지역별로 크롤링 전, 리스트에 담고, 반복문을 돌아 크롤링.

### 1. 셀레니움을 이용해 각 지역을 클릭

* 필요한 변수 : 오늘날짜를 담을 변수, 

### 2. 각 지역을 클릭시 생성된 DataFrame을 위에서 구축한 함수로 변수에 저장

 
### 3. 출력

* today = driver.find_element_by_id("thToday").text       == 오늘 정보
* area_name = driver.find_element_by_id("areaName").text  == 지역 이름
* driver.find_element_by_xpath('//*[@id="info_4200000000"]/span').click()    == 지역 클릭

In [9]:
서울특별시     = '//*[@id="info_1100000000"]/span' 
경기도         = '//*[@id="info_4100000000"]/span'
인천광역시     = '//*[@id="info_2800000000"]/span'
대전광역시     = '//*[@id="info_3000000000"]/span'
세종특별자치시 = '//*[@id="info_3600000000"]/span'
광주광역시     = '//*[@id="info_2900000000"]/span'
대구광역시     = '//*[@id="info_2700000000"]/span'
울산광역시     = '//*[@id="info_3100000000"]/span'
부산광역시     = '//*[@id="info_2600000000"]/span'
제주특별자치도 = '//*[@id="info_5000000000"]/span'
강원도         = '//*[@id="info_4200000000"]/span'
충청북도       = '//*[@id="info_4300000000"]/span'
충청남도       = '//*[@id="info_4400000000"]/span'
경상북도       = '//*[@id="info_4700000000"]/span'
경상남도       = '//*[@id="info_4800000000"]/span'
전라북도       = '//*[@id="info_4500000000"]/span'
전라남도       = '//*[@id="info_4600000000"]/span'

In [10]:
place = [서울특별시   
,경기도     
,인천광역시   
,대전광역시   
,세종특별자치시 
,광주광역시
,대구광역시         
,울산광역시   
,부산광역시   
,제주특별자치도 
,강원도     
,충청북도    
,충청남도    
,경상북도    
,경상남도    
,전라북도    
,전라남도    ]

* inforamtion(지역) ; 지역에 대한 dataframe 반환 변수

In [11]:
def information(area):
    
    button = driver.find_element_by_xpath(area)
    driver.execute_script("arguments[0].click();", button)
    
        
    time = []
    elect = []
    sun = []
    for i in range(1,24):

        tr = str(i)
        string = driver.find_element_by_xpath(f'//*[@id="toEnergy"]/tr[{i}]').text.split()
        time.append(string[0])
        elect.append(string[2])
        sun.append(string[3])
    
    
    today = driver.find_element_by_id("thToday").text       #오늘 정보
    area_name = driver.find_element_by_id("areaName").text  #지역 이름

    my_dict = {"누적발전량":elect,"일사량":sun}
    area_my_df = pd.DataFrame(my_dict,index=time).rename_axis(f"{area_name}:{today}")
    
    return area_my_df

## 각 지역에 대한 정보를 변수에 저장

In [13]:
서울 = information(서울특별시)
경기 = information(경기도)
인천 = information(인천광역시)
대전 = information(대전광역시)
세종 = information(세종특별자치시)
광주 = information(광주광역시)
대구 = information(대구광역시)
울산 = information(울산광역시)
부산 = information(부산광역시)
제주 = information(제주특별자치도)
강원 = information(강원도)
충북 = information(충청북도)
충남 = information(충청남도)
경북 = information(경상북도)
경남 = information(경상남도)
전북 = information(전라북도)
전남 = information(전라남도)

In [14]:
서울

                   누적발전량    일사량
서울특별시:오늘(10/09)
0시                  0.00    0.0
1시                  0.00    0.0
2시                  0.00    0.0
3시                  0.00    0.0
4시                  0.00    0.0
5시                  0.00    0.0
6시                  0.00    0.0
7시                  2.33    1.4
8시                205.01    6.3
9시                661.18   23.9
10시              1403.53   83.5
11시              2348.45  124.9
12시              3408.81  142.2
13시              4543.35   87.3
14시              5645.77   48.8
15시              6616.11   39.7
16시              7348.42   70.6
17시              7793.19   12.5
18시              7932.51    2.2
19시              7932.51    0.0
20시              7932.51    0.0
21시              7932.51    0.0
22시              7932.51    0.0

In [15]:
경기

                 누적발전량    일사량
경기도:오늘(10/09)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                2.33    1.4
8시              205.01    6.3
9시              661.18   23.9
10시            1403.53   83.5
11시            2348.45  124.9
12시            3408.81  142.2
13시            4543.35   87.3
14시            5645.77   48.8
15시            6616.11   39.7
16시            7348.42   70.6
17시            7793.19   12.5
18시            7932.51    2.2
19시            7932.51    0.0
20시            7932.51    0.0
21시            7932.51    0.0
22시            7932.51    0.0

In [16]:
인천

                 누적발전량    일사량
인천광역시:오늘(10/09)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                2.33    1.4
8시                0.29   18.7
9시                0.88   39.0
10시               2.05  102.5
11시               3.67  127.7
12시               5.62  129.6
13시               8.62  214.6
14시              12.53  233.0
15시              16.60  235.8
16시              19.66  201.5
17시              20.90   68.1
18시              21.37   20.3
19시              21.37    0.0
20시              21.37    0.0
21시              21.37    0.0
22시              21.37    0.0

In [17]:
대전

                  누적발전량    일사량
대전광역시:오늘(10/09)
0시                 0.00    0.0
1시                 0.00    0.0
2시                 0.00    0.0
3시                 0.00    0.0
4시                 0.00    0.0
5시                 0.00    0.0
6시                 0.00    0.0
7시                 0.00    1.2
8시                 3.17   15.4
9시                 9.34   34.8
10시               20.82   56.1
11시               39.04  105.7
12시               62.10  138.3
13시               92.92  223.8
14시              129.69  350.5
15시              161.88  218.0
16시              184.00  232.9
17시              196.73   75.6
18시              200.70   25.2
19시              200.70    0.0
20시              200.70    0.0
21시              200.70    0.0
22시              200.70    0.0

In [18]:
세종

                   누적발전량    일사량
세종특별자치시:오늘(10/09)
0시                  0.00    0.0
1시                  0.00    0.0
2시                  0.00    0.0
3시                  0.00    0.0
4시                  0.00    0.0
5시                  0.00    0.0
6시                  0.00    0.0
7시                  0.00    0.4
8시                  0.56   21.7
9시                  1.91   46.3
10시                 4.22   90.7
11시                 7.56  156.2
12시                12.55  181.9
13시                20.67  290.3
14시                29.49  340.8
15시                37.77  296.8
16시                42.41  220.7
17시                45.84  156.2
18시                47.44   39.7
19시                47.44    0.1
20시                47.44    0.0
21시                47.44    0.0
22시                47.44    0.0

In [19]:
광주

                 누적발전량    일사량
광주광역시:오늘(10/09)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.00    5.3
8시                1.22   77.5
9시                3.54  159.6
10시               7.32  292.9
11시              11.30  283.5
12시              15.84  356.5
13시              21.87  542.4
14시              28.15  592.2
15시              34.29  552.6
16시              38.43  368.4
17시              40.35  146.5
18시              40.90   34.4
19시              40.90    0.0
20시              40.90    0.0
21시              40.90    0.0
22시              40.90    0.0

In [20]:
대구

                 누적발전량    일사량
대구광역시:오늘(10/09)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.00    5.3
8시                0.99   79.7
9시                2.94  168.8
10시               5.84  276.8
11시               9.35  284.0
12시              14.02  373.8
13시              20.07  502.2
14시              25.84  512.9
15시              31.78  516.0
16시              36.35  281.6
17시              38.46  137.8
18시              39.03   33.3
19시              39.03    0.0
20시              39.03    0.0
21시              39.03    0.0
22시              39.03    0.0

In [21]:
울산

                  누적발전량    일사량
울산광역시:오늘(10/09)
0시                 0.00    0.0
1시                 0.00    0.0
2시                 0.00    0.0
3시                 0.00    0.0
4시                 0.00    0.0
5시                 0.00    0.0
6시                 0.00    0.0
7시                 0.00    5.3
8시                 4.62  116.3
9시                16.26  283.2
10시               34.13  466.0
11시               55.22  565.5
12시               81.71  730.5
13시              110.03  764.8
14시              136.16  708.2
15시              158.18  562.5
16시              175.24  436.3
17시              185.75  253.9
18시              189.00   68.7
19시              189.00    0.1
20시              189.00    0.0
21시              189.00    0.0
22시              189.00    0.0

In [22]:
부산

                 누적발전량    일사량
부산광역시:오늘(10/09)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.00    5.7
8시                2.24   76.8
9시                7.49  202.1
10시              14.61  285.6
11시              22.04  239.1
12시              32.55  365.6
13시              46.68  498.6
14시              61.39  548.0
15시              73.55  417.0
16시              80.10  130.9
17시              83.03   56.0
18시              83.82   15.8
19시              83.82    0.0
20시              83.82    0.0
21시              83.82    0.0
22시              83.82    0.0

In [23]:
제주

                   누적발전량    일사량
제주특별자치도:오늘(10/09)
0시                  0.00    0.0
1시                  0.00    0.0
2시                  0.00    0.0
3시                  0.00    0.0
4시                  0.00    0.0
5시                  0.00    0.0
6시                  0.00    0.0
7시                  0.26   17.9
8시                  1.90  139.3
9시                  5.70  309.5
10시                11.29  492.6
11시                18.08  422.3
12시                24.84  321.1
13시                31.91  506.0
14시                38.98  615.9
15시                44.84  499.9
16시                49.37  352.1
17시                51.69  165.5
18시                52.18   29.4
19시                52.18    0.0
20시                52.18    0.0
21시                52.18    0.0
22시                52.18    0.0

In [24]:
강원

                누적발전량    일사량
강원도:오늘(10/09)
0시               0.00    0.0
1시               0.00    0.0
2시               0.00    0.0
3시               0.00    0.0
4시               0.00    0.0
5시               0.00    0.0
6시               0.00    0.0
7시               1.45   20.7
8시              11.44  171.0
9시              31.68  364.3
10시             59.49  513.9
11시             92.57  666.1
12시            128.34  705.0
13시            164.91  683.4
14시            198.68  651.3
15시            224.70  485.8
16시            242.56  364.1
17시            253.54  197.6
18시            255.95   34.7
19시            255.95    0.0
20시            255.95    0.0
21시            255.95    0.0
22시            255.95    0.0

In [25]:
충북

                 누적발전량    일사량
충청북도:오늘(10/09)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.00    5.0
8시                8.96   81.2
9시               21.57   61.7
10시              37.93  122.4
11시              60.96  199.1
12시              85.10  265.9
13시             118.81  275.1
14시             159.15  291.7
15시             207.19  230.3
16시             245.63  318.2
17시             272.29  196.1
18시             282.92   80.4
19시             282.92    0.3
20시             282.92    0.0
21시             282.92    0.0
22시             282.92    0.0

In [26]:
충남

                 누적발전량    일사량
충청남도:오늘(10/09)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.02    1.4
8시                7.81    6.3
9시               21.60   23.9
10시              44.19   83.5
11시              82.77  124.9
12시             120.89  142.2
13시             153.17   87.3
14시             186.41   48.8
15시             212.21   39.7
16시             228.14   70.6
17시             236.67   12.5
18시                  -      -
19시                  -      -
20시                  -      -
21시                  -      -
22시                  -      -

In [27]:
경북

               누적발전량 일사량
경상북도:오늘(10/09)
0시                 -   -
1시                 -   -
2시                 -   -
3시                 -   -
4시                 -   -
5시                 -   -
6시                 -   -
7시                 -   -
8시                 -   -
9시                 -   -
10시                -   -
11시                -   -
12시                -   -
13시                -   -
14시                -   -
15시                -   -
16시                -   -
17시                -   -
18시                -   -
19시                -   -
20시                -   -
21시                -   -
22시                -   -

In [28]:
경남

                  누적발전량    일사량
경상남도:오늘(10/09)
0시                    -      -
1시                    -      -
2시                    -      -
3시                 0.00    0.0
4시                 0.00    0.0
5시                 0.00    0.0
6시                 0.00    0.0
7시                 0.00    6.0
8시                20.54   66.5
9시                72.90  175.7
10시              172.63  302.2
11시              288.93  319.5
12시              423.19  389.2
13시              585.71  604.3
14시              749.76  633.0
15시              899.63  549.0
16시             1018.56  308.3
17시             1098.17  140.5
18시             1124.82   37.5
19시             1124.82    0.0
20시             1124.82    0.0
21시             1124.82    0.0
22시             1124.82    0.0

In [29]:
전북

                 누적발전량    일사량
전라북도:오늘(10/09)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.15    5.1
8시               13.43   85.0
9시               49.64  222.8
10시             106.34  217.0
11시             165.37  240.7
12시             216.22  194.5
13시             268.72  342.1
14시             324.87  427.2
15시             382.78  446.1
16시             431.22  266.7
17시             459.66  100.3
18시             467.22   20.2
19시             467.22    0.0
20시             467.22    0.0
21시             467.22    0.0
22시             467.22    0.0

In [30]:
전남

                 누적발전량    일사량
전라남도:오늘(10/09)
0시                0.00    0.0
1시                0.00    0.0
2시                0.00    0.0
3시                0.00    0.0
4시                0.00    0.0
5시                0.00    0.0
6시                0.00    0.0
7시                0.45    7.3
8시               23.22   42.8
9시               69.84  172.6
10시             143.13  294.3
11시             239.36  496.1
12시             347.03  626.1
13시             459.03  395.6
14시             562.78  396.5
15시             649.87  346.4
16시             717.58  399.1
17시             757.63  194.0
18시             767.51   31.4
19시             735.00    0.1
20시             735.00    0.0
21시             735.00    0.0
22시             735.00    0.0